{% extends "layout.html" %}

{% block head %}
    <title>Climatic</title>
{% endblock %}
{% block main %}

<div class="container-fluid padding " style="height:650px;">
    <div class="row welcome text-center top-text" style="padding: 12em;">
        <div class="col-12">
            <h1 class="display-5 p-5" style="color: #3EB489; font-weight: 500;">protecting natural habitats from extinction.<h1>
        </div>
        
    </div>
</div>


<!-- JUMBOTRON -->
<div class="container-fluid jumbotron">
    <div class="row reveal">
        <div class="col-6" style="padding: 4em">
            <p class="lead" style="font-size: 200%; font-weight: 600;"> Climate change threatens every part of the planet. It’s a global problem that requires global cooperation.</p>
        </div>
        <div class="col-6" style="padding: 4em">
            <p style="font-size: 175%"> Our mission is to create international consensus around the climate emergency, as well a shared plan for saving the planet’s most exceptional wild places.</p>
        </div>
    </div>
</div>

    <div class="container-fluid padding" style="background-color: #263238; opacity: 0.9; height: 300px; margin-top: -2em;">
        <div class="column reveal text-center">
            <div>
                <h1 style="color: #3EB489; font-size: 200%; padding-top: 3em;">Changing the world is possible. We’ve done it before</h1>
            </div>
            <div class="container-fluid">
                <p style="color: white; padding-top: 3em;">Our leadership team bring years of experience to bear on the greatest challenge of our time. We're results driven, with a proven record of previous successes.</p>
            </div>
            
        </div>
    </div>

<div class="container-fluid jumbotron">
    <div class="row">
        <div>
            <p class="lead text-center" style="font-size: 150%; color: #263238; padding: 2em 8em 2em"> “Clarkson has helped accomplish over 200 of its partners’ major conservation goals. They inspire everyone to care for the planet.” </p>
        </div>
        <div>
            <p class="lead text-center" style="font-size: 125%; color: #263238">- Quote Source</p>
        </div>
    </div>
</div>

<!-- Connect-->
<div class="container-fluid padding" style="background-color: 263238; opacity: 0.9; margin-top: -2em; ">
    <div class="row text-center padding">
        <div class="col-12">
            <h2 style="color:#263238">Connect</h2>
        </div>
        <div class="col-12 social padding">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>

{% endblock %}